
* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: rgb(212, 97, 21)
}

.mainContainer {
    background-color: rgba(0, 0, 0, 0.327);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}

h1 {
    font-size: 60px;
    color: white;
}

.inputsContainer input {
    font-size: 50px;
    max-width: 250px;
    background-color: rgba(0, 0, 0, 0.327);
    color: white;
    border: 1ps solid white;
    border-radius: 3px;
    margin: 0 7px;
    padding: 0 4px;
}

.inputsContainer input::placeholder {
    color: lightgoldenrodyellow;
}

.buttonsContainer button {
    font-size: 40px;
    background-color:lightseagreen;
    color: white;
    cursor: pointer;
    margin: 0 10px;
    padding: 2px 20px;
    border: 1px solid white;
    border-radius: 4px;
}

.displayTime {
    min-width: 500px;
    text-align: center;
    padding: 0 20px;
    border-radius: 10px;
    font-size: 100px;
    background-color: black;
}

.buttonsContainer button:hover {
    background-color: aqua;
    color: white;
}

.noteContainer {
    margin-top: 40px;
}